h1 {
  color: brown;
  text-align: center;
  font-size: 100px;
}

h2 {
  font-style: italic;
  text-align: center;
  font-size: 75px;
  color: pink;
}

p {
  color: gray;
}

body {
  background-color: tan;
}
